body {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 44px;
}
.form {
  display: flex;
  gap: 8px;
  margin: auto;
  /* margin-top: 36px; */
}

.input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: rgb(128, 128, 128);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4%;
  box-sizing: border-box;
}
.button {
  width: 91px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(78, 117, 255);
  border: 0;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: #4e75ff;
}
.button:hover {
  background: rgb(108, 140, 255);
}
.input:hover {
  border: 1px solid #000000;
}
.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  padding: 32px 142px;
}

.gallery-image {
  width: 360px;
  height: 152px;
  cursor: pointer;
}

.gallery-item {
  border: 1px solid rgb(128, 128, 128);
  width: calc((100% - 48px) / 3);
  width: 360px;
  height: 200px;
  transition: transform 250ms ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.1);
}
.loading-images {
  text-align: center;
}
.header {
  display: flex;
}
.loader {
  width: 48px;
  height: 48px;
  border: 10px solid #fff;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
  margin: auto;
  margin-top: 30px;
}
.loader::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #ff3d00;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
.hide {
  display: none;
}

.image-text {
  width: 360px;
  height: 48px;
  display: flex;
  justify-content: space-around;
}
h2 {
  color: rgb(46, 47, 66);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.04;
}
.image-text-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.span-size {
  color: rgb(46, 47, 66);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04;
}
.btn {
  width: 125px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  background-color: rgb(78, 117, 255);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04;
}
.load-more-div {
  display: flex;
  justify-content: center;
}
.btn:hover {
  background: rgb(108, 140, 255);
}
